{% extends "base.html" %}

{% block title %}TitanHelp - Tickets{% endblock %}

{% block content %}
<h1>Tickets</h1>
<a href="{{ url_for('new_ticket') }}" class="button">New Ticket</a>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Action</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.date }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.priority }}</td>
        <td>
            <a href="{{ url_for('view_ticket', ticket_id=ticket.id) }}" class="button">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}